:root {
    --text-font-size: 12px;
    --border-radius: 5px;
    --font-weight: 800;

    --common-margin: 0.75rem;
    --common-padding: 0.75rem;
    --common-gap: 0.75rem;
    --common-color: #ecf0f5;
    --common-bg-color: #041a79;
    --common-text-color: #041a79;
    --common-border-color: rgba(0, 0, 0, 0.175);
}

.app-common-bg {
    background-color: var(--common-bg-color) !important;
}
.wrapper {
    background-color: white;
}
.wrapper .left--wrapper .left--navbar .nav-container {
    display: flex;
    align-items: center;
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-brand {
    font-weight: var(--font-weight);
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-logo {
    position: relative;
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-logo .navbar-image {
    height: 40px;
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-setting {
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 1rem;
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-setting .user .user-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-setting .user {
    text-decoration: none;
    cursor: pointer;
}
.wrapper .left--wrapper .left--navbar .nav-container .navbar-setting .user .user-name,
.wrapper .left--wrapper .left--navbar .nav-container .navbar-setting .brush,
.wrapper .left--wrapper .left--navbar .nav-container .navbar-setting .power {
    color: white;
    font-size: var(--text-font-size);
}
.wrapper .left--wrapper .left--searchbar {
   background-color: #0054b6;
    padding: 0.5rem 0;
}
.wrapper .left--wrapper .left--searchbar .left--searchbar-items {
    display: flex;
    column-gap: 0.5rem;
}
.wrapper .left--wrapper .left--searchbar .left--searchbar-items input.search-input {
    background-color: transparent;
    height: 32px;
    color: white;
}
.wrapper .left--wrapper .left--searchbar .left--searchbar-items input.search-input::placeholder {
    color: white;
}
.wrapper .left--wrapper .left--searchbar .left--searchbar-items button.search-btn {
    background-color: transparent;
    height: 32px;
    padding: 0 0.75rem;
}
.wrapper .left--wrapper .left--searchbar .left--searchbar-items .back-btn {
    font-size: var(--text-font-size);
    padding: 0 1.5rem;
    font-weight: var(--font-weight);
}
.wrapper .left--wrapper .left--content .item-card {
    padding: 2rem var(--common-padding);
    font-size: var(--text-font-size);
    background-color: #d8c1ff;
    color: #000000;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.wrapper .left--wrapper .left--content .item-card.product-card {
    padding: 0;
    font-size: var(--text-font-size);
    border-radius: var(--border-radius);
    align-items: flex-start;
}
.wrapper .left--wrapper .left--content .item-card.product-card .product {
    width: 100%;
    background-color: #c1e3ff;
    padding: 1rem var(--common-padding);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.wrapper .left--wrapper .left--content .item-card.product-card .price {
    width: 100%;
    background-color: #dddddd;
    padding: 0.5rem var(--common-padding);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.wrapper .right--wrapper {
    background-color: var(--common-color);
    display: flex;
    flex-direction: column;
    border-left: var(--common-bg-color) 3px solid;
}
.wrapper .right--wrapper .right--top .button-item {
    background-color: white;
    color: var(--common-text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    font-size: var(--text-font-size);
    border-radius: var(--border-radius);
    border: none;
    width: 100%;
}
.wrapper .right--wrapper .right--content-header {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: var(--border-radius);
    padding: 0.5rem var(--common-padding);
    margin: 0 var(--common-padding) var(--common-padding);
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    column-gap: 2rem;
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
}
.wrapper .right--wrapper .right--content .right--content-item {
    margin: 0 var(--common-margin) var(--common-margin);
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    column-gap: 2rem;
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
    color: var(--common-text-color);
    cursor: pointer;
}
.wrapper .right--wrapper .right--content .right--content-item ol,
.wrapper .right--wrapper .right--content .right--content-item ul,
.wrapper .right--wrapper .right--content .right--content-item dl {
    margin-bottom: 0;
    font-weight: normal;
}
.wrapper .right--wrapper .right--content .right--content-item.active {
    background-color: var(--common-bg-color);
    border-radius: var(--border-radius);
    padding: 0.75rem var(--common-padding);
    margin: 0 var(--common-padding) var(--common-padding);
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    column-gap: 2rem;
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
    color: white;
}
.wrapper .right--wrapper .right--content .right--content-item.active ul {
    margin-bottom: 0.375rem;
}
.wrapper .right--wrapper .right--content .right--content-item.active button {
    width: 2rem;
    height: 2rem;
    padding: 0;
}
.wrapper .right--wrapper .right--content .right--content-item.active .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper .right--wrapper .right--content .right--content-item.active .qty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.wrapper .right--wrapper .right--content .right--content-item.active .each {
    text-align: center;
}
.wrapper .right--wrapper .right--content .right--content-item.active .total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper .right--wrapper .right--content .right--content-item.active .qty .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}
.wrapper .right--wrapper .right--bottom {
    width: 100%;
    margin-top: auto;
}
.wrapper .right--wrapper .right--bottom .cart {
    display: flex;
    flex-direction: column;
}
.wrapper .right--wrapper .right--bottom .cart .cart-calc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--common-gap);
    column-gap: 1.5rem;
    background-color: white;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: var(--common-padding);
    margin: var(--common-margin);
}
.wrapper .right--wrapper .right--bottom .cart .cart-calc .cart-calc-item {
    display: grid;
    gap: var(--common-gap);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.wrapper .right--wrapper .right--bottom .cart .cart-calc .cart-calc-item .cart-calc-title,
.wrapper .right--wrapper .right--bottom .cart .cart-calc .cart-calc-item .cart-calc-value {
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
}
.wrapper .right--wrapper .right--bottom .cart .cart-calc .cart-calc-item .cart-calc-value {
    background-color: #e6e6e6;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    text-align: center;
}
.wrapper .right--wrapper .right--bottom .cart .cart-calc .cart-calc-item .cart-calc-title.gt-title {
    color: var(--common-text-color);
}
.wrapper .right--wrapper .right--bottom .cart .cart-calc .cart-calc-item .cart-calc-value.gt-value {
    color: var(--common-text-color);
    font-weight: 800;
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons {
    display: flex;
    width: 100%;
    padding: 0 var(--common-padding);
    margin-bottom: var(--common-margin);
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: var(--common-margin);
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons > :last-child {
    margin-right: 0;
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons button {
    font-size: var(--text-font-size);
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons button.btn-cancel {
    background-color: #db0000;
    color: white;
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons button.btn-order {
    background-color: #2b91c2;
    color: white;
}
.wrapper .right--wrapper .right--bottom .cart .cart-buttons button.btn-pay {
    background-color: #6eba2b;
    color: white;
}

/* responsiveness */
@media screen and (max-width: 768px) {
    .wrapper .right--wrapper {
        border-left: none;
    }
}
@media screen and (min-width: 767px) {
    .wrapper .right--wrapper {
        height: 100vh;
    }
    .wrapper .left--wrapper .left--content {
        max-height: calc(100vh - 106px);
        overflow-y: scroll;
        scrollbar-width: thin;
    }
    .wrapper .right--wrapper .right--content {
        overflow-y: scroll;
        /*scrollbar-width: thin;*/
    }
    .wrapper .right--wrapper .right--content::-webkit-scrollbar {
        display: none;
    }
}